*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
    color: white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

form{
    padding: 50px 55px;
    background-color: black;
    box-shadow: 0px 2px 20px 10px rgba(222,222,222,.25);
    border-radius: 20px;
    text-align: center;
    width: 360px;
}

.cabecera{
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
}

.home{
    font-size: 20px;
}

.input-gruop{
    display: flex;
    flex-direction: column;
    text-align: left;
}

h2{
    font-size: 35px;
    margin-bottom: 40px;
}

label{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

input, textarea{
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #edfff0;
    border: 2px solid #f0faf1;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}

.form-txt{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.form-txt div{
    margin-bottom: 10px;
}

.form-txt a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.textfoot{
    font-size: 13px;
}

.form-txt a:hover{
    color: yellow;
}

.btn{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover{
    background-color: black;
    color: yellow;
    box-shadow: 0 0 20px rgba(25, 254, 0, 0.4);
}